body{
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

main{
    background-color: hsl(0, 0%, 100%);
    margin: 1rem 1rem;
    max-width: 600px;
    border-radius: 10px;
}

.perfume-small{
    max-width: 600px;
    width: 100%;
    /* border-radius: 20px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.perfume-large{
    display: none;
}

.details{
    padding: 0.7rem 1.3rem 1.5rem 1.3rem;
}

.details h1{
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 4px;
}

.details h2{
    font-family: "Fraunces", sans-serif;
    font-size: 2rem;
    color: hsl(212, 21%, 14%);
    margin: 0.7rem 0;
}

.details p{
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5rem;
}

.details .price{
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

.details .price .price1{
    font-size: 2rem;
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
}

.details .price .price2{
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    margin-left: 1.5rem;
}

.details button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    border: 1px transparent;
}

.details button:hover{
    background-color: hsl(158, 52%, 25%);
}

.details button p{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    margin-left: 0.8rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    display: flex;
    align-items: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media (min-width: 576px) {
    main{
        display: flex;
    }
    
    .perfume-small{
        display: none;
    }

    .perfume-large{
        display: block;
        max-width: 600px;
        width: 50%;
        /* border-radius: 20px; */
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .details{
        width: 50%;
    }
}